* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

:root {
    --dark-blue: #102E50;
    --yellow: #F5C45E;
    --orange: #E78B48;
    --red: #BE3D2A;
    --teal: #0FA3B1;
    --green: #758E4F;
    --cream: #FFEFC8;
    --dark-gray: #2D333F;
    --white: #FFF;
}

body {
    background-color: var(--cream);
    color: var(--dark-blue);
    line-height: 1.6;
    overflow-x: hidden;
}

/* Header */
header {
    background-color: var(--dark-blue);
    color: var(--white);
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Logo & name */
#logo {
    display: flex;
}

#logo img{
    max-width: 90px;
    padding: 0 10px;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--yellow);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo span {
    color: var(--orange);
    margin-left: 8px;
}

/* Navigation */
#navContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    position: relative;
}

.navLinks {
    display: flex;
    list-style: none;
    padding: 0 20px;
    flex-direction: row-reverse;
}

.navLinks li {
    margin-left: 1.5rem;
}

.navLinks a {
    color: var(--white);
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 0.5rem 0;
}

.navLinks a:hover {
    color: var(--yellow);
}

/* Burger menu */
.menuToggle {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 2;
    width: 40px;
    height: 24px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--white);
    transition: all 0.3s;
}

/* Top Section */
.intro {
    height: 400px;
    width: 100%;
    background-image: url(/HTML_Project/HomePage/images/PatternWithGradient_cream.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 600;
    font-size: 60px;
    padding: 10px 0;
    text-shadow: 0 0 3px var(--cream);
}

#introDescription {
    direction: rtl;
    font-size: 20px;
    text-shadow: 0 0 3px var(--cream);
}

/* Software icon stripe */
.softwareUsed {
    width: 100%;
    height: 90px;
    background-color: var(--yellow);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.softwareIcons{
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 15px;
}

#softwareIcon1{
    background-image: url(/HTML_Project/HomePage/images/Logo_HTML.png);
}
#softwareIcon2{
    background-image: url(/HTML_Project/HomePage/images/Logo_CSS.png);
}
#softwareIcon3{
    background-image: url(/HTML_Project/HomePage/images/Logo_GIT.webp);
}
#softwareIcon4{
    background-image: url(/HTML_Project/HomePage/images/Logo_GitHub.png);
}
#softwareIcon5{
    background-image: url(/HTML_Project/HomePage/images/Logo_PS.png);
}
#softwareIcon6{
    background-image: url(/HTML_Project/HomePage/images/Logo_Canva.png);
}

/* About me section */
#aboutMeSection{
    width: 100%;
    height: 400px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMe{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.aboutText{
    direction: rtl;
    width: 460px;
    padding: 0 20px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutHeader{
    font-weight: 500;
    font-size: 40px;
}

#aboutBody{
    font-size: 18px;
    text-align: center;
}

#resumeDownload{
    text-decoration: none;
    background-color: var(--cream);
    margin: 15px 0;
    padding: 10px 20px;
    border-radius: 8px;
    color: var(--dark-blue);
}

#myImg{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 10px 15px;
}

/* Project section */
.projectsDescription{
    width: 100%;
    padding: 20px;
}

/* Project gallery */
.projectGallery {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 2rem;
}

.projectCard {
    background-color: var(--white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.projectCard:hover {
    transform: translateY(-5px);
}

.projectImage {
    height: auto;
    background-color: var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: bold;
}

.projectImage img{
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectInfo {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.projectInfo h3 {
    color: var(--teal);
    margin-bottom: 0.5rem;
}

.artist-name {
    color: var(--dark-gray);
    font-weight: bold;
}

.genre {
    font-style: italic;
    color: var(--dark-gray);
    margin-bottom: 0.5rem;
    font-size: 14px;
}

.projectInfo p {
    margin: 0.5rem 0;
}

.btn{
    display: inline-block;
    background-color: var(--green);
    color: var(--white);
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0.2rem;
}

.projectInfo .btn {
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.projectLink{
    text-decoration: none;
    color: var(--white);
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 16px;
}

/* Mobile */
@media (width < 670px) {
    #navContainer {
        justify-content: space-between;
    }

    .hamburger{
        display: flex;
        margin-left: auto;
    }

    nav {
        position: static;
    }
    
    .navLinks{
        position: fixed;
        top: 94px;
        right: -100vw;
        width: 80%;
        max-width: 300px;
        height: calc(100vh - 70px);
        background-color: var(--green);
        flex-direction: column;
        padding-top: 20px;
        transition: right 0.3s;
        z-index: 1;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    }

    .navLinks li {
        margin: 0;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid var(--dark-gray);
    }

    .menuToggle:checked ~ nav .navLinks {
        right: 0;
    }

    .menuToggle:checked ~ .hamburger span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .menuToggle:checked ~ .hamburger span:nth-child(2) {
        opacity: 0;
    }

    .menuToggle:checked ~ .hamburger span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}